{% extends 'base.html' %}
{% block content %}
			<div class="clear"></div>
		
				<h3>Bioprocesses mini-games in FermProc</h3>
			<p> If you are tired of thinking or you are as competitive as me. This is your screen.</p>
			<p> As simulators and learning can be quite tiring we developed some games to get you a break.</p>
			<h3><center><i>Memory game</i></center></h3>

			<div>
				<table>
					<tr>
                        <td><p>The memory game in FermProc has a small twisted as it requires you to connect units and name of the main parameters. For example concentration will be together with grams per liter.</p>
                        <p>This version is still not available, so I search for a chemical one for you today</p></td>
						<td><center> <a href="https://memorymatch-flask.herokuapp.com/game"> Start the memory game</a>
						</center></td>
					</tr>
                        <td><p>FermProc will have a problem solution database. As we know, models allow prediction and control. And on the other hand, it allows us to create "artificial problems".</p></td>
						<td><center><video width="500" height = "300"controls>
					<source src='../static/multimedia/Problem-solution.mov' type="video/mp4">
						</center></td>
				</table>															
			</div>
{% endblock %}