{% extends 'base.html' %}
{% block content %}
		<h3>This is your guide</h3>

		 <p>
			Welcome to FermProc, a Virtual Educational Bioprocess Plant. It aims to be a new simulator developed for students but with the complexity of a commercial process simulator.
			Furthermore, it is purely written in open source languages and we encourage you to add your own models to the mix.
			A GitHub repository in Python has been created with the name "FermProc-DTU" in order for you to see and learn from the python implementation of complex models and finally upload you own.
	
			FermProc includes as well visual and multimedia tools to help you whenever you need it.
        </p>
		<h3> How to learn </h3>
		<p> This educational tool doesn't aim to be a torture machine, but it needs from your collaboration and the collaboration of your brain. To help while learning, we use the Bloom Taxonomy (in the figure below).
		<center>
		<img id="bloom" src="../static/multimedia/BloomCicle.png">
		</center>
		</p>
		<p> Therefore, everytime you learn something in this software try to:</p>
			<ol>
				<li> Try to recall and recognize some of the information</li>
				<li> Understand what the facts/formulas/definitions means</li>
				<li> In the Sections <a href="">Test</a> and <a href="">Minigames</a> try to apply the facts, rules, concepts, and ideas to hack bioprocesses</li>
				<li> Start estimating and calculating in your head some of values and finding correlations along the game and simulations. For example, if it is changing in this way for batch; would it be the same for fed-batch?</li>
				<li> Critize what we are telling you. One of the main needs while learning is critizing and arguing over our knowledge. Ask yourself: Can I defend this value? </li>
				<li> Finlally try to create a new model with the information that you have got in this software. Every model is a bit wrong so don't worry to much and try to implement a new inhibition in one of the existing models or are you brave enough to add a PID controller?</li>
				<li> Finlally try to create a new model with the information that you have got in this software. Every model is a bit wrong so don't worry to much and try to implement a new inhibition in one of the existing models or are you brave enough to add a PID controller?</li>
			</ol>
		
		<h3> FermProc rules </h3>
		<p>
			FermProc includes questions, minigames and evaluation of "what if scenarios" along other features.
			Each of the activities provides you points as a reward for the knowledge acquire and in the future, it will be possible to share your points as well as access to different levels of complexity based on them.
			Therefore,</p>
			<ul style="list-style-type:disc;">
			<li>Explore the webpage. You never know where easter eggs can be found.</li>
			<li> Incorrect answers are not bad but they will not give you any point. So, if you have the opportunity, ask the person near to you. Or google.</li>
			<li>The scores will be:
				<ul style="list-style-type:circle;">
					<li>0-10 points: Have a break and maybe a coffee. Come back later. </li>
					<li> 10-20 points: We are going somewhere.</li>
					<li> 20-30 points: Master of the bioprocess.</li>
				</ul>
			</li>
			</ul>
		
		<h3> Learn because you care</h3>
		<p>
		We know that the world needs from our effort to pass from an unsustainable society to a sustainable one and to so we must go through an industrial revolution based on the implementation of bioprocesses.
			
		However, bioprocesses is a novel field compared to traditional processes such as the petroleum refining process; and much more understanding and application is required. Therefore, obtaining a high quality education is the foundation to create sustainable development within society. The Department of Chemical and Biochemical Engineering of DTU is moving forward with UN-SDG and as a part of this agenda,  FermProc aimed to be a pedagogical process simulation software tool for bio-manufacturing processes, cheap and easy to use. Hopefully, this software can help in the building and to upgrade learning environments for all. Through making more affordable and easy technical bioprocesses education, we can promote sustainable industrialization (Goal 9. Industry, Innovation and Infrastructure) and “doing more and better with less” (Goal 12. Responsible Consumption and Production).
		More information about the UN Sustainble Development Goals in the link.
		<center>
			 <table> 
				<thead> <th>Link</th></thead>
				<tbody>
					<tr>
					<td><a href="https://www.un.org/sustainabledevelopment/sustainable-development-goals/"><img width="50px" height="50px" src="../static/multimedia/SDG-Wheel-01-750x465.png"></a></td>
					</tr>
				</tbody>
			</table>
			</center>
		</p>
	
		<h3> Involve yourself</h3>
		<p>
			This software wants to grow with you and therefore it is important the feedback that you can provide us or new ideas that you think it could contribute to a better version. To do so, send an email to: simoca@kt.dtu.dk with the subject: Feedback FermProc.
	
		</p>
{% endblock %}
