{% extends 'base.html' %}
{% block content %}
    <div class="mid"></div>
    <h3> Mechanistic models</h3>
    <p> Mathematical mechanistic models are like puzzles. You can choose how many pieces you want to put and the more pieces, the most complex it becomes.
    </p>
    <center><video width="500" height = "300"controls>
					<source src='../static/multimedia/Build_a_model.mp4' type="video/mp4">
					Your browser does not support the video tag.
    </video></center>
    <p> A model aims to represent an image of what it is happening in the process and are involved in the understanding, the prediction and control, and the reproducibility.</p>
    <p> Now we will focus in bioconversion models and some of their most important parameters.</p>
    <h3>Yields</h3>
    <p><strong> Why is yield so important?</strong>. Yields indicate a maximum of the amount of compound that the microorganisms can produce per reactant</p>
    <p> It will play an important factor in the economical decision if a process will be economically feasible or not.</p>

{% endblock %}