{% extends 'base.html' %}
{% block content %}
		<div id="wrapper">
		  <h3>Have you learn something about Saccharomyces cerevisiae?</h3>
		  <p>Take this questionnaire to find out!</p>
{#				 	<form id="quiz1">#}
					<!-- Question 1 -->
					<h4>Having a bioreactor of 30 m3 with the addition of glucose in the bottom (therefore, we will have gradients), which will be the process that will domain in the top of the reactor?</h4>
					<!-- Here are the choices for the first question. Each input tag must have the same name. For this question, the name is q1. -->
					<!-- The value is which answer the choice corresponds to. -->
					<label><input type="radio" name="q1" value="c1.1">
					  Oxidation of glucose
					</label><br />
					<label><input type="radio" name="q1" value="c2.1">
					  Oxidation of ethanol
					</label><br />
					<label><input type="radio" name="q1" value="c3.1">
					  Reduction of glucose
					</label><br />
					<label><input type="radio" name="q1" value="c4.1">
					  I don't know
					</label><br />
                        <p></p>
					<div id="answer1">  Your solution will be shown here!</div>

					<!-- Question 2 -->
{#					<form id="quiz2">#}
					<h4>What is the common name of the effect that happens to Saccharomyces cerevisiae during its aerobic growth with glucose?</h4>
					<!-- Here are the choices for the second question. Notice how each input tag has the same name (q2), but a different name than the previous question. -->
					<label><input type="radio" name="q2" value="c1.2">
					  I don't know
					</label><br />
					<label><input type="radio" name="q2" value="c2.2">
					  Crabtree Effect
					</label><br />
					<label><input type="radio" name="q2" value="c3.2">
					  Kappeli Effect
					</label><br />
					<label><input type="radio" name="q2" value="c4.2">
					  Levenspiel Effect
					</label><br/>
{#					<button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>#}
{#					<button type="reset" id="reset" onclick="resetAnswer()">Reset</button>#}
{#					  </form>#}
					<div id="answer2"> Your solution will be shown here!</div>
			
		
					<!-- Question 3 -->
{#					<form id="quiz3">#}
					<h4>In which industrial production, this model will be useful?</h4>
					<!-- Choices for the third question -->
					<label><input type="radio" name="q3" value="c1.3">
					  For the production of beer
					</label><br />
					<label><input type="radio" name="q3" value="c2.3">
					  For the production of an specific antibiotic
					</label><br />
					<label><input type="radio" name="q3" value="c3.3">
					  For a culture oriented process that will go to bakeries, such as Christian Hansen S/A
					</label><br />
					<label><input type="radio" name="q3" value="c4.3">
					  I don't know
					</label><br />
{#					<button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>#}
{#					  <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>#}
{#					  </form>#}
					<div id="answer3"> Your solution will be shown here!</div>

					<!-- Question 4 -->
{#					<form id="quiz4">#}
					<h4>Which inhitions are included in this model?</h4>
					<!-- Choices for the fourth question -->
					<label><input type="radio" name="q4" value="c1.4">
					  CO2 toxicity for the biomass
					</label><br />
					<label><input type="radio" name="q4" value="c2.4">
					  Ethanol effect to the biomass
					</label><br />
					<label><input type="radio" name="q4" value="c3.4">
					  Glucose inhibition to consume the ethanol
					</label><br />
					<label><input type="radio" name="q4" value="c4.4">
					  I don't know, sorry
					</label><br />
{#					<button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answers</button>#}
{#				  <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>#}
{#				  </form>#}
				<div id="answer4">{{ answer }}</div>
				</div>
{% endblock %}

